
body {
  height: 100vh;
}

#search {
  box-sizing: content-box;
}
/* for pict1  */
.homepic {
  border: 1px solid coral;
  width: 100%;
}
#petSearch:hover {
  cursor: pointer;
}



  
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

button {
  background-color: #1f305e;
  border-radius: 1em;
  padding: 0.25em;
}

#animalTable {
  cursor: pointer;
}
