
/* body {
  height: 100vh;
} */
.bodyP3{
  margin: 0%;
  padding:0%;
}

#search {
  box-sizing: content-box;
}
/* for pict1  */
.homepic {
  width: 100%;
}
#petSearch:hover {
  cursor: pointer;
}

.nav3rdpage{
  background-color: #ff75f8dc;
}
#locationbar{
  background-color: #ff75f8dc;
}
  
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

 #btnSearch{
  background-color: #1f305e;
  border-radius: 1em;
  padding: 0.25em;
}

#animalTable {
  cursor: pointer;
}
